@page
@model RazorWroksheet.Pages.GreetingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greeting</title>
</head>
<body>
    <h1>@Model.Message</h1>
</body>
</html>
