@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RazorWroksheet.Pages.handlerdemoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>handlerdemo</title>
</head>
<body>
    <h3>@Model.Message</h3>
    <form method="post">
        <button type="submit">Click to post</button>

    </form>
    <section>
        <a href="/handlerdemo">Click to get</a>
    </section>
</body>
</html>
